extends ../includes/layout

block main-content
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href="/") Multivision
					h6 -Extreme Tech Training
			.navbar-collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a(href="/") Home
					li
						a(href="/courses") Courses
				div(ng-include="'/partials/account/navbar-login'")
	section.main-content
		div(ng-view)

	footer.container.text-container.text-center
		p &copy; 2013 MultiVision Corp International Ltd.